doc/n8n-workflow-whatsapp.json
{
  "name": "WhatsApp Bot - Full Coverage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "📥 Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ],
      "webhookId": "whatsapp-incoming",
      "notes": "انسخ Production URL وضعه في إعدادات الجلسة → Webhook URL"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "node-respond",
      "name": "✅ Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        340
      ],
      "notes": "يُقرّ الاستلام فوراً لمنع إعادة الإرسال"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════\n// WhatsApp Bot — Process All Message Types\n// ════════════════════════════════════════════\nconst payload     = $json.body || {};\nconst data        = payload.data || {};\nconst sessionId   = payload.sessionId || '';\nconst msgType     = (data.type || 'chat').toLowerCase();\nconst from        = data.from || '';\nconst phoneNumber = from.replace('@c.us', '');\nconst body        = data.body || '';\nconst mediaUrl    = data.mediaUrl || null;\nconst fileName    = data.fileName || null;\nconst caption     = data.caption || '';\nconst lat         = data.lat || null;\nconst lng         = data.lng || null;\nconst loc         = data.loc || '';\n\nfunction text(msg) {\n  return { sessionId, phoneNumber, endpoint: 'text',\n           requestBody: JSON.stringify({ number: phoneNumber, message: msg }) };\n}\n\n// ── Echo / Ping mode ──────────────────────────────────\nif (msgType === 'chat') {\n  const lower = body.toLowerCase();\n  const isEchoAr = body.startsWith('صدى');\n  const isEchoEn = lower.startsWith('echo');\n\n  if (isEchoAr || isEchoEn) {\n    const prefix  = isEchoAr ? 'صدى' : 'Echo';\n    const content = body.replace(/^(صدى|echo)\\s*/i, '').trim() || '(رسالة فارغة)';\n    return [text(`🔁 ${prefix}: ${content}`)];\n  }\n\n  // Keyword matching\n  let reply;\n  const kw = lower;\n  if (['مرحبا','هلا','hello','hi','السلام','اهلا','سلام'].some(w => kw.includes(w))) {\n    reply = 'أهلاً وسهلاً! 👋 كيف يمكنني مساعدتك؟';\n  } else if (['سعر','price','كم تكلف','تكلفة','أسعار'].some(w => kw.includes(w))) {\n    reply = 'يرجى التواصل مع فريق المبيعات للاستفسار عن الأسعار 📋';\n  } else if (['وقت','دوام','hours','ساعات','متى تفتح'].some(w => kw.includes(w))) {\n    reply = 'أوقات العمل: الأحد – الخميس 9 صباحاً – 6 مساءً 🕘';\n  } else if (['مساعدة','help','مساعده'].some(w => kw.includes(w))) {\n    reply = 'يمكنني مساعدتك! 🤝\\nأرسل \"صدى <رسالة>\" لاختبار البوت.';\n  } else {\n    reply = 'شكراً لتواصلك! سنرد عليك قريباً. 🙏';\n  }\n  return [text(reply)];\n}\n\n// ── Image ─────────────────────────────────────────────\nif (msgType === 'image') {\n  const msg = caption\n    ? `تم استلام صورتك 📷 — ${caption}`\n    : 'تم استلام صورتك 📷\\nImage received 📷';\n  return [text(msg)];\n}\n\n// ── Video ─────────────────────────────────────────────\nif (msgType === 'video') {\n  const msg = caption\n    ? `تم استلام الفيديو 🎬 — ${caption}`\n    : 'تم استلام الفيديو 🎬\\nVideo received 🎬';\n  return [text(msg)];\n}\n\n// ── Audio / Voice ─────────────────────────────────────\nif (msgType === 'audio' || msgType === 'ptt') {\n  const msg = msgType === 'ptt'\n    ? 'تم استلام رسالتك الصوتية 🎙️\\nVoice message received 🎙️'\n    : 'تم استلام الملف الصوتي 🎵\\nAudio file received 🎵';\n  return [text(msg)];\n}\n\n// ── Document ──────────────────────────────────────────\nif (msgType === 'document') {\n  const name = fileName || 'document';\n  return [text(`تم استلام الملف 📄: ${name}\\nDocument received 📄: ${name}`)];\n}\n\n// ── Sticker ───────────────────────────────────────────\nif (msgType === 'sticker') {\n  return [text('تم استلام الملصق 🎯\\nSticker received 🎯')];\n}\n\n// ── Location ──────────────────────────────────────────\nif (msgType === 'location') {\n  const maps = `https://maps.google.com/?q=${lat},${lng}`;\n  const desc = loc ? ` — ${loc}` : '';\n  return [text(`تم استلام موقعك 📍${desc}\\n${maps}\\nLocation received 📍`)];\n}\n\n// ── Fallback ──────────────────────────────────────────\nreturn [text('تم استلام رسالتك ✅')];"
      },
      "id": "node-process",
      "name": "🧠 Process & Build Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        620
      ],
      "notes": "يعالج جميع أنواع الرسائل ويبني طلب الإرسال المناسب"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      },
      "id": "node-wait",
      "name": "⏱️ Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        620
      ],
      "notes": "تأخير 2 ثانية لتجنب حظر واتساب"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-APP-DOMAIN/api/sessions/{{ $json.sessionId }}/send/{{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.requestBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-send",
      "name": "📤 Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        620
      ],
      "onError": "continueErrorOutput",
      "notes": "يرسل الرد — النوع محدد تلقائياً من endpoint"
    },
    {
      "parameters": {
        "jsCode": "// ── Error Logger ──\nconst err    = $json || {};\nconst status = err.statusCode || err.status || 'unknown';\nconst msg    = JSON.stringify(err.body || err.message || err);\nconsole.error('[WhatsApp Bot] Send failed — HTTP ' + status + ': ' + msg);\nreturn [{ error: true, status, message: msg }];"
      },
      "id": "node-error",
      "name": "⚠️ Log Send Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        780
      ],
      "notes": "يسجّل أخطاء الإرسال — متصل بـ error output من عقدة الإرسال"
    }
  ],
  "connections": {
    "📥 Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "✅ Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧠 Process & Build Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Process & Build Reply": {
      "main": [
        [
          {
            "node": "⏱️ Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "📤 Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Reply": {
      "main": [],
      "error": [
        [
          {
            "node": "⚠️ Log Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}