attached_assets/Pasted--name-WhatsApp-Bot-Full-AI-Integration-nodes-parameters_1774500356083.txt
{
  "name": "WhatsApp Bot - Full AI Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7537e4c7-9f04-4461-82a6-defbb649ccd0",
      "name": "📥 Receive WhatsApp Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3504,
        2480
      ],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "4d279148-1ced-4297-b63a-e9087bff9c26",
      "name": "✅ Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3264,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || {};\nconst data = payload.data || {};\nconst sessionId = payload.sessionId || '';\nconst msgType = data.type || 'chat';\nconst from = data.from || '';\nconst phoneNumber = from.replace('@c.us', '');\nconst body = data.body || '';\nconst fileName = data.fileName || null;\nconst caption = data.caption || '';\nconst lat = data.lat || null;\nconst lng = data.lng || null;\n\n// تحويل نوع الرسالة إلى نص يفهمه الذكاء الاصطناعي\nlet aiPrompt = body;\nif (msgType === 'image') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل صورة. الوصف المرفق معها: ${caption || 'لا يوجد وصف'}]`;\n} else if (msgType === 'video') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل مقطع فيديو. الوصف المرفق معه: ${caption || 'لا يوجد وصف'}]`;\n} else if (msgType === 'audio' || msgType === 'ptt') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل رسالة صوتية/مقطع صوتي]`;\n} else if (msgType === 'document') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل ملف. اسم الملف: ${fileName || 'غير معروف'}]`;\n} else if (msgType === 'location') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل موقع جغرافي. الإحداثيات: ${lat}, ${lng}]`;\n} else if (msgType === 'sticker') {\n  aiPrompt = `[ملاحظة من النظام: المستخدم أرسل ملصق (Sticker)]`;\n}\n\nreturn {\n  sessionId,\n  phoneNumber,\n  aiPrompt,\n  rawType: msgType\n};"
      },
      "id": "1540108d-925e-449e-bd78-1240c12fa8ef",
      "name": "🔍 Extract Message Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        2576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiPrompt }}",
        "options": {
          "systemMessage": "أنت مساعد ذكي ولطيف لخدمة عملاء عبر واتساب. أجب بإيجاز ووضوح وباللغة التي يتحدث بها العميل. إذا رأيت [ملاحظة من النظام] تفيد بأن المستخدم أرسل وسائط (صورة، صوت، ملف، موقع)، قم بالرد بلطف لتأكيد استلامها ومساعدته بناءً على ذلك."
        }
      },
      "id": "fe31206b-ac23-4341-9cb8-b6c31ddffc34",
      "name": "🤖 AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2944,
        2576
      ]
    },
    {
      "parameters": {},
      "id": "f3e2f7c8-a570-496e-9e5e-472e6ea56c70",
      "name": "📝 Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -2848,
        2848
      ]
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('🔍 Extract Message Fields').item.json;\nconst aiResponse = $json.output || \"عذراً، لم أتمكن من معالجة طلبك حالياً.\";\n\nreturn {\n  sessionId: originalData.sessionId,\n  phoneNumber: originalData.phoneNumber,\n  replyText: aiResponse\n};"
      },
      "id": "5adaf834-7ff2-4048-966d-c6c415661bc0",
      "name": "⚙️ Format AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        2576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://1f44527b-362a-416b-b1a5-dc6faa8a9109-00-1n8f4s7a70kkk.kirk.replit.dev/api/sessions/{{ $json.sessionId }}/send/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"message\": \"{{ $json.replyText }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b7eede5d-54b6-4b54-8d28-db7342ae32b9",
      "name": "📤 Send Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2272,
        2576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "p6TtiJTsoyKJmYKv",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const err = $json;\nconst status = err.statusCode || err.status || 'unknown';\nconst body = JSON.stringify(err.body || err.message || err);\nconsole.error(`[WhatsApp Bot] Send failed — HTTP ${status}: ${body}`);\nreturn { error: true, status, body };"
      },
      "id": "505d8e27-d9a6-43e0-bbb2-6c02c6381a9f",
      "name": "⚠️ Log Send Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        2576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3088,
        2784
      ],
      "id": "d18b5ab5-6bfc-48de-b9e1-1cb08fab7201",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Hxp1njnkn8szDJPn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "📥 Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "✅ Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔍 Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extract Message Fields": {
      "main": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent": {
      "main": [
        [
          {
            "node": "⚙️ Format AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Format AI Output": {
      "main": [
        [
          {
            "node": "📤 Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Text Reply": {
      "main": [
        [
          {
            "node": "⚠️ Log Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cffe4d7d-612a-43d8-a87f-3cb609fc7c7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9209d1367e21b216f13b9563bb21cb1c1fcb732cef287186a2e347fcf573779c"
  },
  "id": "uQchTT1NOXq9PPx5",
  "tags": []
}